
 :root{
	 --primary:#74ebd5;
	 --secondary:#ACB6E5F0;
 }
 
 
 nav ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #13688f;
			box-sizing: border-box;
			
}
nav ul li{
	float:right;


}
 nav li a{
			display: block;
			color: rgb(255, 255, 255);
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			margin: 0;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 10px;
		
		}


 nav li a:hover{
			color: aqua;

}
 nav li a.active{
		color: aquamarine;
}
body{
	background:linear-gradient(135deg,var(--primary),var(--secondary));
	text-align:center;

}
img{	
	border: 5px outset aquamarine;
  	border-radius: 4px;
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.adobe{

	border: 5px solid #AA336A;
  	border-radius: 4px;
  	padding: 5px;
	width: 50px;
	height: 50px;
	margin:auto;
	position:relative;

}		


h1,h2{
	text-align: center;
	font-family:Georgia, Times, 'Times New Roman', serif;
	text-transform: uppercase;

	margin-bottom: 10px;

}
h3{
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 10px;

}
header,p,footer,a{
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
}

.campaigner{
	text-align: justify;
  	text-justify: inter-word;
	border: 5px outset aquamarine;
  	padding: 10px;
	width: 680px;
	height: 80px;
	margin-left: 400px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: auto;
	background-color: rgb(165, 226, 236);
}
.border2{
	text-align: justify;
  	text-justify: inter-word;
	border: 5px solid #c72aa5;
  	border-radius: 30px;
  	padding: 10px;
	width: 680px;
	height: 60px;
	margin-left: 400px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.achievement{
	 text-align: justify;
  	text-justify: inter-word;
	border: 5px outset #1581da;
	background-color:#aacbe6 ;
  	padding: 10px;
	width: 680px;
	height: 100px;
	margin-left: 400px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin:auto;
	margin-top: 30px;
}
#link1{
	text-align: right;
	font-size: 15px;
	text-decoration: unset;
}
#link1:link{
	
	
	margin-bottom: 10px;
	color: rgb(0, 110, 46);


}
#link1:hover{

	color:#ffffff;
	margin-bottom: 10px;
	font-weight: bold;
	
}
#link1:active{
	color: rgb(145, 243, 214);
	margin-bottom: 10px;
}
#link1:visited{
	color: rgb(50, 167, 60);
	margin-bottom: 10px;
	
}
#bullet{

	text-decoration-line: underline;
  	text-decoration-style: double;

}
.hobby{
	
	
	text-transform: uppercase;
	font-weight: bold;
  	margin: auto;
	margin-bottom: 10px;

}
.hobbylist {
	background-color: rgb(154, 226, 226);
	font-style: italic;
	text-align: left;
	padding: 0;
	margin-left:10px;
	border:5px outset aquamarine;
	max-width: 200px;
	max-height: 70px;
	justify-content: center;
	align-items: center;
	margin:auto;
	padding: 10px;
}

.personality{
	margin: center;
}


.personalitylist{
	font-style: italic;
	border-style: solid;
	margin:auto;
	max-width: 210px;
	max-height: 500px;
	padding: 10px;
	background-color: rgb(154, 226, 226);
	border-color: rgb(45, 133, 103);
		
}
.personalitypadding{
	padding: 10px;
	margin: 0;
	text-align: left;
	border-width: 3px;
	border-color: aquamarine;
	border-style: outset;
	
	
}

.education{
	border: 5px outset aquamarine;
	background-color:rgb(154, 226, 226) ;
	padding: 10px;
	text-align: left;
	width: 500px;
	margin: auto;
	
}

.ambition{
	border: 5px outset aquamarine;
	background-color:rgb(154, 226, 226) ;
	margin: auto;
	width: 100px;
	height: 50px;
	font-weight: bold;

}

.softskill{
	font-style:italic;
	border:5px outset #1581da;
	background-color: #aacbe6;
	padding:5px;
}
.skill{
	border:5px outset #1581da;
	background-color: #aacbe6;
	padding:5px;
}


table{
	position:relative;
	
	width: 60%; 
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 0 2px 15px rgba(64,64,64,.7);
	border-radius: 12px 12px 0 0;
	overflow: hidden;

   
   }
   td , th{
	padding: 15px 20px;
	text-align: center;
	
   
   }
   th{
	background-color: #1581da;
	color: #fafafa;
	font-family: 'Open Sans',Sans-serif;
	font-weight: 200;
	text-transform: uppercase;
   
   }
   .container{
	   max-width: 900px;
	   margin: auto;
	   overflow: auto;
	   text-transform: uppercase;
	   font-weight: 700;
   }
   .gallery
   {
	   margin:5px;
	   float:left;
	   width:390px;
	   
   }
   .gallery img{
	   width:100%;
	   height:200px; 
	   align-items: center;  
	   
   }
   .desc{
	   padding:15px;
	   text-align:center;
   }
   .achievementclass img{
	   width: 350px;
	   height: 400px;
   }

.container2{
	width:90%;
	padding:20px;
	margin:100px auto;
	display:flex;
	flex-direction: row;
	justify-content: center;
}
.gallery2{
	width:150px;
	margin:0 10px;
	box-shadow: 0 0 20px 2px rgba(0,0,0,.1);

}

.gallery2 img{
	display:block;
	width:100%;
	border-radius:5px;
}
.gallery2:hover{
	transform:scale(1.3);
	z-index:3;
}


   